.moviesGrid{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: grid;
    grid-template-columns: repeat(auto-fill, 230px );
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

@media(max-width: 560px){
    .moviesGrid{
        grid-template-columns: 100px;
    }
}